@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Square+Peg&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family:serif ;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    background-color: rgba(130, 106, 106, 0.162);
    width: 80%;
    height: 94vh;
    margin: 2em auto;
    border-radius: 13px;
    box-shadow: 3px 3px red, -1em 0 .4em olive;
}

label{
    color: rgb(89, 128, 235);
}
#home {
    text-align: center;
    padding: 120px;
    font-size: 25px;
}
h1{
    padding: 30px;
    color: black;
    font-family: serif;
    font-size: 100px;
    font-family: 'Square Peg', cursive;
}
input{
    border-radius: 2px;
    border-color: rgb(224, 216, 197); 
    border-radius: 30px;
    padding: 2px 10px; 
    height: 2em;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    
}
.button{
    background-color: rgba(137, 137, 219, 0.676);
    color: rgb(250, 244, 244);
    width: 150px;
    border-style: groove;  
    padding: 5px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin: 2px 10px;
    height: 3em;
    font-family: 'Roboto Condensed', sans-serif;

}
.button:hover{
    background-color: rgba(24, 127, 212, 0.5);
    border: 2px solid rgba(24, 127, 212, 0.5);
    color: black;
    transition: .4s;

}
.btndiv{
    display: flex;
    justify-content: center;
    align-items: center;
}














